  
<%- include('../partials/boilerplate') %>

<div class="index-div">
  <div class='items-login-div'>
    <form class="items-login-div" method='POST' action='/auth/login'>
      <div class="div-input">
        <input name='username' type='text' placeholder='username' required />
      </div>
      <div class="div-input">
        <input name='password' type='password' placeholder='password' required />
      </div>
      <div class="div-input">
        <input class="div-input" id="btn-auth-login" type='submit' value='Log in!' />
      </div>
    </form>
  </div>
</div>
<script src="/src/main.js"></script>
<%- include('../partials/end') %>