  
<%- include('../partials/boilerplate') %>

<div class="index-div">
  <div class='items-register-div'>
    <form method='POST' action='/user'>
      <div class="div-input">
        <input name='name' type='text' placeholder='Name' />
      </div>
      <div class="div-input">
        <input name='last_name' type='text' placeholder='Last Name'>
      </div>
      <div class="div-input">
        <input name='email' type='email' placeholder='E-mail' required />
      </div>
      <div class="div-input"> 
        <input name='username' type='text' placeholder='username' required />
      </div>
      <div class="div-input">
        <input name='password' type='password' placeholder='password' required />
      </div>
      <div class="div-input">
        <input id="btn-auth-register" type='submit' value='Register!' />
      </div>      
    </form>
  </div>
</div>
<script src="/src/main.js"></script>
<%- include('../partials/end') %>

<!-- div-input -->