  
<%- include('../partials/boilerplate') %>

<div class='items-register-div'>
  <form method='POST' action='/user'>
    <input name='name' type='text' placeholder='Name' />
    <input name='last_name' type='text' placeholder='Last Name'>
    <input name='email' type='email' placeholder='E-mail' required />
    <input name='username' type='text' placeholder='username' required />
    <input name='password' type='password' placeholder='password' required />
    <input type='submit' value='Register!' />
  </form>
</div>

<%- include('../partials/end') %>