<header>
    <div class="header-div">
        <div class="logo">
            <h1>Shopping List App</h1>
        </div>
        <nav class="menu">
            <ul>
            <li><a href="/">Home</a></li>
            <li>About</li>
            <li><a href="/items">See all items</a></li>
            </ul>
        </nav>
    </div>
  </header>