<header>
    <div class="header-div">
        <div class="logo">
            <h1>Shopping List App</h1>
        </div>
        <nav class="menu">
            <ul>
            <li id="home"><a href="/">Home</a></li>
            <li id="about"> <a href="/about">About</a></li>
            <li id="all"><a href="/items">See all items</a></li>
            </ul>
        </nav>
    </div>
  </header>