<div class="user_nav">
    <div>
        <a href="/user"> Hello! </a>
    </div>
    <nav>
        <ul>
            <a class="user_nav-a" href="/cart/show">My Cart</a>                    
            <a class="user_nav-a" href="/items/add">Add New Item</a>
        </ul>
        <ul>
            <a href="/auth/logout">Log out</a>    
        </ul>
    </nav>
</div>