<%- include ('../partials/boilerplate') %>
<%- include ('../partials/user_nav') %>
<div class="index-div">
    <div >
        <h2>Hello: <%= user.name %>!</h2>
    </div>
    
    <div id="btn-addItem">
        <a href="/items/add">Add item</a>
    </div>
    <div id="btn-showMyCart">
        <a href="./cart/show">My Cart</a>
    </div>

</div>
<%- include ('../partials/end') %>