<%- include('../partials/boilerplate') %> 
<div class="index-div">
    <h2>Grocery Shopping List app!</h2>
    <p>
        Intended to be used by a household on a regular basis 
        to track any new item that needs to be restocked in the
         house. 
    </p>
    <p>
        Traditionally this task has been accomplished 
         using paper and pencil, but it is inefficient and
         time consuming. Instead, using the "Shopping List 
         App" by the time the household has to go to the store, 
         the shopping list will be already completed and
         accessible.
    </p>
    <div class="How_to_use">
        <p>How to Use <br />
        <small>
            You will see all items, from where they can be 
            selected and added to your own cart. It will 
            allow you to edit and remove items from your list.
            To enjoy full app funtionality, please register.
        </small></p>
      </div>
</div>    
<script src="/src/main.js"></script>
<%- include ('../partials/end') %>