body{
    background-color: white;
    font-family: 'Mansalva', cursive;
}

.main-div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;   
    max-height: 400px; 
}
  
main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    background-color: rgb(171, 226, 138);    
}

.user_nav-a {
    margin-right: 20px;
}

.header-div, .user_nav {
    width: 80vw;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.logo {        
    color: white;
}

nav ul {
    display: flex;
}
  
nav ul li {
    margin: 0 10px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
  
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 1.5em;
    color: white;
    background-color:  rgb(171, 226, 138);
}

h1 {
    color: white;
}
h2 {
    font-size: 2em;
    margin-left: 50px;
}

p {
    font-size: x-large;
    margin: 40px;    
    line-height: 1.6;
}

legend {
    justify-content: center;
    padding: 15px;
}

#btn-addItem a, #btn-showMyCart a, #btn-register a, #btn-login a {
    color: white;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    margin: 0 auto;
}

.item {
    display: flex;    
    border-style: solid;
    border-color: white;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
}
.item-details {
    display: flex;
}
.user_nav {
    display: flex;
}
.index-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;  
    min-height: 77vh;
    min-width: 100%;
    background-image: url('/img/1200.jpg');
}
.main-details {
    display: flex;    
    justify-content: center;       
}
.items-login-div, .items-register-div , .index-div{
    display: flex;
    flex-direction: column;
}

.div-input {
    display: flex;  
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

    font-size: 2em;
    justify-content: center;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 8px auto;
    box-sizing: border-box;
}
#btn-auth-login, #btn-auth-register, #btn-item-add, #btn-item-edit, #btn-cart-add {
    width: 50%;
    font-size: 1em;
    font-family: 'Mansalva', cursive;
}
#h2-greeting {
    display: flex;    
    justify-content: center;       
}

#btn-register, #btn-login, #btn-addItem, #btn-showMyCart{
    display: flex;
    height: 50px;
    width: 50%;
    font-size: 2em;
    justify-content: center;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 8px auto;
    box-sizing: border-box;
}
#about.colored_in, #all.colored_in, #home.colored_in, #btn-register, #btn-login,
#btn-addItem, #btn-showMyCart, #btn-cart-add, #btn-auth-login,
#btn-auth-register, #btn-item-add, #btn-item-edit {
    color: rgba(255,255,255,1);
    background: black;
    background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4       ));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
}
legend {
    font-size: 2em;
}

@media (max-width: 500px) {
    h1, h2 {
      font-size: 20px;
    }

    legend {
        font-size: 25px;
    }
    
    p {
        font-size: small;
        margin: 20px;    
        line-height: 1.6;
    }
}
