body{
    background-color: goldenrod;
}

h1 {
    color: white;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    margin: 0 auto;
}

.item {
    display: flex;    
    border-style: solid;
    border-color: white;
    justify-content: center;
    align-items: center;   
    height: 300px;
    width: 300px;
}